{{ function('get_header', '') }}

<ol class="nav navbar-nav breadcrumbs" itemscope itemtype=http://schema.org/BreadcrumbList>
        <li itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><a href=/ itemprop=item><span itemprop=name>Agencja Wrocławska</span>
                <meta itemprop=position content="1">
            </a>></li>
        <li itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><a href=/blog/ itemprop=item><span itemprop=name>Blog</span>
                <meta itemprop=position content="2">
            </a>></li>
        <li class=active itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><span itemprop=name>{{author.display_name}}</span>
            <meta itemprop=position content="3">
        </li>
    </ol>
    <main id=content>
        <section class=sc-banner-center-noimg id=top-banner>
            <div class=center-banner-cnt>
                <div class='on-banner-content sec-padding autor-banner'>
                    <p class=autor-ab>Autor
                        {% if author_linkedin %}<a rel=nofollow target=_blank class=author-linkedin href={{ author_linkedin }} /><img src=/img/linkedin-in_red.svg></a>{% endif %}
                    </p>
                    <h1 class="txt-underline txt-red txt-XXL f-w700">{{author.display_name}}</h1>
                    <div class=no-img-banner-desc>
                        <div>{{author.description}}</div>
                        <div><img class=author-page-img src={{ author_picture }}></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec-padding autor-page">
            <div class=container>
                <div class="row list">
                    <ul id=list-cnt class="news-list with_flex">
                        {% for p in posts %}
                        <li>
                            <ul class=categories></ul>
                            <a href={{p.path}}>
                                <h3>{{p.post_title}}</h3>
                                <div class=art-summary>{{p.short_desc}}</div>
                            </a>
                            <div class=list-art-footer><span class=list-art-date>{{function('get_the_date', 'd.m.Y', p)}}</span>
                                <span class=list-art-authorname>| &nbsp; {{p.author.name}}</span>
                                <img class="lazyload art-author-img" data-src={{ p.author.meta('profil_picture') }}>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </main><svg class="svg">
        <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox">
            <path d="M1 0S.734.31.0.148v.733s.353.254 1 .02V0" />
        </clipPath>
    </svg><svg class="svg">
        <clipPath id="my-clip-path2" clipPathUnits="objectBoundingBox">
            <path d="M1 .171S.95.13.857.177C.711.25.447.413.0.316v.721s.353.249 1 .019V.171" />
        </clipPath>
    </svg>

{{ function('get_footer', '') }}