{{ function('get_header', '') }}

<ol class="nav navbar-nav breadcrumbs" itemscope itemtype=http://schema.org/BreadcrumbList>
        <li itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><a href=/ itemprop=item><span itemprop=name>Agencja Wrocławska</span>
                <meta itemprop=position content="1">
            </a>></li>
        <li class=active itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><span itemprop=name>Kontakt</span>
            <meta itemprop=position content="2">
        </li>
    </ol>
    <main id=content>
        <section class=sc-banner-wide>
            <div class='banner-wide-content sec-padding'>
                <div class=banner-left-col>
                    <h1 class='header-template banner-header'><span class='f-w900 txt-break txt-red txt-XXL'>Darmowa wycena</span>
                        <span class='header-template f-w900 txt-red txt-XXL'></span>
                    </h1>
                    <div class='header-template banner-slogan'><span class='f-w400 txt-red txt-S'>Pozwól przygotować spersonalizowaną, profesjonalną strategię marketingową oraz ofertę współpracy dla Twojej firmy. Zróbmy wspólnie krok w kierunku sukcesu!</span></div>
                    <div class=trust-us-wrapper><span>Zaufali nam:</span>
                        <section>
                            <ul>
                                {% for p in option.partners %}
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src="{{p.logo}}" class=gray-images-logo></li>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>
                </div>
                <div class=banner-right-col>
                    {% include "form-kontakt.twig" %}
                    <script>
                        var form = document.getElementById("contactform");
                        if (form) {
                            async function handleSubmit(e) {
                                e.preventDefault();
                                var t = document.getElementById("my-form-status"),
                                    n = new FormData(e.target);
                                fetch(e.target.action, {
                                    method: form.method,
                                    body: n,
                                    headers: {
                                        Accept: "application/json"
                                    }
                                }).then(e => {
                                    t.innerHTML = "Dziękujemy skontaktujemy się z Tobą niebawem.", form.reset()
                                }).catch(e => {
                                    t.innerHTML = "Oops! Nie udało się wysłać formularza!"
                                })
                            }
                            form.addEventListener("submit", handleSubmit)
                        }

                    </script>
                </div>
            </div><img class=banner-logo src=/img/AW.svg>
        </section>
        <section class='sec-padding sc-contact'>
            <section class=specialist-trust-wrapper>
                <div style=display:flex;flex-direction:column>
                    <div>
                        <h3 class="header-template qustionmark-header"><span class="f-w900 txt-underline txt-break txt-red txt-XL">Zaufaj</span></h3>
                        <h3 class="header-template f-w700 txt-break txt-black txt-XL ornament-r-b qustionmark-header">naszym specjalistom</h3>
                    </div>
                    <ul class=team-col-cnt-kontakt-wrapper>
                        {% for e in employees %}
                        {% if e.display == true %}
                        {% if e.display_kontakt == true or e.display_kontakt == '' %}
                        <li class=team-col-cnt-kontakt style=list-style-type:none>
                            <img class="team-item-img lazyloaded" src="{{ function('wp_get_attachment_image_url', e.obraz, 'full') }}" style="height:100%">
                            <div class=person-name-kontakt>{{e.imie}}</div>
                            <div class=person-job-kontakt>{{e.stanowisko}}</div>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class=kontakt-why-section>
                    <h3 class="header-template qustionmark-header"><span class="f-w900 txt-underline txt-break txt-red txt-XL">Dlaczego warto współpracować</span></h3>
                    <h3 class="header-template f-w700 txt-break txt-black txt-XL ornament-r-b qustionmark-header">z Agencją Wrocławską</h3>
                    <p><span><img class=lazyloaded src=/uploads/100-cel-ikona.svg></span>100% wykonanie określonych celów kampanii&nbsp;</p>
                    <p><span><img class=lazyloaded src=/uploads/strategia-ikona-1.svg></span>Indywidualna strategia marketingowa&nbsp;</p>
                    <p><span><img class=lazyloaded src=/uploads/kadra-ikona.svg></span>Dostęp do doświadczonej kadry specjalistów</p>
                    <p><span><img class=lazyloaded src=/uploads/holistyczny-ikona.svg></span>Holistyczne podejście do marketingu internetowego&nbsp;</p>
                </div>
                <div></div>
            </section>
            <section class="sec-padding sc-text-points-img case-gray-bg a3794babb722c9659fda88bf0f11b99ea"><span class=case_upper_title>Case study</span>
                <div class="two-col-row cnt-visibility">
                    <h3 class=header-template><span class="f-w900 txt-underline txt-break txt-red txt-L">POZYCJONOWANIE DLA E-COMMERCE</span>
                        <span class="header-template f-w700 txt-black txt-XL ornament-r-r">salon sukni ślubnych</span>
                    </h3>
                    <div class=second-col>
                        <div class=obrazek-outer-wrapper>
                            <div class=obrazek-wrapper><img class=lazyloaded data-src=/uploads/case-study-suknie-slubne-1.jpg src=/uploads/case-study-suknie-slubne-1.jpg></div>
                        </div>
                    </div>
                    <div class=first-col>
                        <div class=case_upper_title>Co zrobiliśmy?</div>
                        <ul class=red-point-list>
                            <li>Pełny Audyt SEO</li>
                            <li>Pełna optymalizacja SEO strony pod budowanie profilu linkowego</li>
                            <li>Poprawa nagłówków oraz treści na stronie</li>
                            <li>Zaprojektowanie infografik na stronę główną</li>
                            <li>Napisanie treści oraz wykupienie miejsc na wysoko rankingowanych portalach branżowych</li>
                        </ul>
                    </div>
                    <div class=second-col>
                        <div class=obrazek-outer-wrapper>
                            <div class=obrazek-wrapper><img class=lazyloaded data-src=/uploads/case-study-suknie-slubne-2.jpg src=/uploads/case-study-suknie-slubne-2.jpg></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sec-padding sc-cols-w-no case-numbers-last">
                <h3 class="header-template cols-w-no-sec-header"><span class="f-w900 txt-underline txt-break txt-red txt-L">EFEKTY POZYCJONOWANIA</span>
                    <span class="header-template f-w700 txt-black txt-XL">SEO</span>
                </h3>
                <ul class=cols-w-no>
                    <li class=col-w-no>
                        <div class="col-w-no-header txt-L">Wzrost widoczności na frazach TOP 100 (130 -> 1134)</div>
                        <div class=col-w-no-desc>827%</div><span class=no-bg>1</span>
                    </li>
                    <li class=col-w-no>
                        <div class="col-w-no-header txt-L">Wzrost ruchu organicznego na stronie (53 -> 5078)</div>
                        <div class=col-w-no-desc>9582%</div><span class=no-bg>2</span>
                    </li>
                    <li class=col-w-no>
                        <div class="col-w-no-header txt-L">Wzrost ogólnej liczby fraz kluczowych powiązanych ze stroną TOP 100 (130 -> 1320)</div>
                        <div class=col-w-no-desc>1015%</div><span class=no-bg>3</span>
                    </li>
                </ul>
            </section>
            <section class="sec-padding sc-text-points-img case-gray-bg af6fb18abba994f52b37eb89c2a901d79">
                <div class="two-col-row cnt-visibility">
                    <h3 class=header-template><span class="f-w900 txt-underline txt-break txt-red txt-L">POZYCJONOWANIE DLA E-COMMERCE</span>
                        <span class="header-template f-w700 txt-black txt-XL ornament-r-r">Costa.pl</span>
                    </h3>
                    <div class=second-col>
                        <div class=obrazek-outer-wrapper>
                            <div class=obrazek-wrapper><img class=lazyloaded data-src=/uploads/casestudy-costa-1.jpg src=/uploads/casestudy-costa-1.jpg></div>
                        </div>
                    </div>
                    <div class=first-col>
                        <div class=case_upper_title>Co zrobiliśmy?</div>
                        <ul class=red-point-list>
                            <li>Pełny Audyt SEO</li>
                            <li>Pełna optymalizacja SEO strony pod budowanie profilu linkowego</li>
                            <li>Poprawa nagłówków oraz treści na stronie</li>
                            <li>Napisanie treści oraz wykupienie miejsc na wysoko rankingowanych portalach branżowych</li>
                            <li>Ogromna rozbudowa contentu na podstronach kategorii</li>
                        </ul>
                    </div>
                    <div class=second-col>
                        <div class=obrazek-outer-wrapper>
                            <div class=obrazek-wrapper><img class=lazyloaded data-src=/uploads/casestudy-costa-2.jpg src=/uploads/casestudy-costa-2.jpg></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sec-padding sc-cols-w-no case-numbers-last">
                <h3 class="header-template cols-w-no-sec-header"><span class="f-w900 txt-underline txt-break txt-red txt-L">EFEKTY POZYCJONOWANIA</span>
                    <span class="header-template f-w700 txt-black txt-XL">SEO</span>
                </h3>
                <ul class=cols-w-no>
                    <li class=col-w-no>
                        <div class="col-w-no-header txt-L">Wzrost widoczności na frazach TOP 100 (4392 -> 11102)</div>
                        <div class=col-w-no-desc>252%</div><span class=no-bg>1</span>
                    </li>
                    <li class=col-w-no>
                        <div class="col-w-no-header txt-L">Wzrost ruchu organicznego na stronie (5301 -> 56043)</div>
                        <div class=col-w-no-desc>1057%</div><span class=no-bg>2</span>
                    </li>
                    <li class=col-w-no>
                        <div class="col-w-no-header txt-L">Wzrost ogólnej liczby fraz kluczowych powiązanych ze stroną TOP 100 (4615 -> 17050)</div>
                        <div class=col-w-no-desc>369%</div><span class=no-bg>3</span>
                    </li>
                </ul>
            </section>
            <section class="sec-padding sc-logos" style=padding:0;width:100%>
                <h3 class="header-template tutorial-sec-header" style=margin-bottom:0><span class="f-w900 txt-underline txt-break txt-red txt-L">Zaawansowane narzędzia,</span>
                    <p class="header-template f-w700 txt-black txt-XL ornament-r-b tutorial-sec-header">których używamy w codziennej pracy</p>
                </h3>
                <ul class=tools-logos>
                    <li><img class="col-logos lazyloaded" data-src=https://sharp-bassi-376df3.netlify.app/uploads/senuto-web.png src=https://sharp-bassi-376df3.netlify.app/uploads/senuto-web.png></li>
                    <li><img class="col-logos lazyloaded" data-src=https://sharp-bassi-376df3.netlify.app/uploads/ahrefs-web.png src=https://sharp-bassi-376df3.netlify.app/uploads/ahrefs-web.png></li>
                    <li><img class="col-logos lazyloaded" data-src=https://sharp-bassi-376df3.netlify.app/uploads/screamingfrog-web.png src=https://sharp-bassi-376df3.netlify.app/uploads/screamingfrog-web.png></li>
                    <li><img class="col-logos lazyloaded" data-src=https://sharp-bassi-376df3.netlify.app/uploads/gtm-web.png src=https://sharp-bassi-376df3.netlify.app/uploads/gtm-web.png></li>
                    <li><img class="col-logos lazyloaded" data-src=https://sharp-bassi-376df3.netlify.app/uploads/lrt-web.png src=https://sharp-bassi-376df3.netlify.app/uploads/lrt-web.png></li>
                    <li><img class="col-logos lazyloaded" data-src=https://sharp-bassi-376df3.netlify.app/uploads/gsc-web.png src=https://sharp-bassi-376df3.netlify.app/uploads/gsc-web.png></li>
                </ul>
            </section>
            <section class=form-bottom-contact>
                <div class=form-bottom-column>
                    <div id=my-form-status><span>Bezpłatna wycena</span></div>
                    <form id=contactform action=https://formspree.io/f/xdoynvwe method=post>
                        <div class=input-cnt><input required name=email type=email id=email placeholder="Adres e-mail">
                            <label for=email>Adres e-mail</label>
                        </div>
                        <div class=input-cnt><input name=www type=text id=www placeholder="Adres strony www">
                            <label for=www>Adres strony www</label>
                        </div>
                        <div class=input-cnt><input required name=phone type=tel id=phone placeholder="Numer telefonu">
                            <label for=phone>Numer telefonu</label>
                        </div>
                        <div class=input-cnt><textarea rows=5 name=txtfield id=txtfield placeholder="Twoja wiadomość"></textarea>
                            <label for=txtfield>Twoja wiadomość</label>
                        </div><button type=submit>Wyślij zapytanie</button>
                        <div class=rodo><input id=rodo-accept-bottom type=checkbox required name=rodo-accept value=accept>
                            <label for=rodo-accept-bottom>Administratorem Twoich danych osobowych, czyli podmiotem decydującym o celach i sposobach przetwarzania Twoich danych osobowych jest Agencja Wrocławska. Informujemy, że podanie danych osobowych zawartych w formularzu jest dobrowolne, ale niezbędne do skutecznego nawiązania kontaktu z Administratorem, jak również przysługują Ci prawa dostępu do Twoich danych osobowych, ich zmiany (w tym aktualizacji), a także pozostałe prawa opisane w Polityce prywatności. W Polityce prywatności znajdują się także szczegółowe informację w zakresie praw i obowiązków Administratora.</label>
                        </div>
                    </form>
                </div>
                <div class=form-bottom-column>
                    <div class=form-bottom-data>
                        <div class=adr-data><span class="header-template f-w700 txt-black txt-XL ornament-r-b tutorial-sec-header">Dane kontaktowe</span>
                            <p>Agencja Wrocławska Sp. z o.o.<br>Dmowskiego 17<br>50-203 Wrocław<br>KRS: 0000856500<br>NIP: 8971882219<br><a href=mailto:kontakt@agencjawroclawska.pl>kontakt@agencjawroclawska.pl</a><br><a href=tel:+48734131950><span style=font-size:2rem;font-weight:700;color:var(--red)>tel. 734 131 950</span></a></p>
                        </div>
                    </div>
                </div>
                <div class=map-wrapper>{{option.google_maps_json}}
                    <div class=star-cnt style=text-align:right><span>Jak oceniasz stronę?</span>
                        <form class=rate id=page-kontakt-new><input type=radio id=star5 name=rate value=5>
                            <label for=star5 title=text>5 stars</label>
                            <input type=radio id=star4 name=rate value=4>
                            <label for=star4 title=text>4 stars</label>
                            <input type=radio id=star3 name=rate value=3>
                            <label for=star3 title=text>3 stars</label>
                            <input type=radio id=star2 name=rate value=2>
                            <label for=star2 title=text>2 stars</label>
                            <input type=radio id=star1 name=rate value=1>
                            <label for=star1 title=text>1 star</label>
                        </form>
                        <div>głosów: <span id=count_votes_kontakt></span></div>
                    </div>
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var t, n, s, e = new Headers;
                        e.append("Content-Type", "application/json"), e.append("cors", "no-cors"), s = "", n = {
                            method: "GET",
                            headers: e,
                            mode: "cors",
                            redirect: "follow"
                        }, fetch("https://getpantry.cloud/apiv1/pantry/74cfb19a-5d7b-4804-94fa-b7a3b370bb8f/basket/page-kontakt-new", n).then(e => e.text()).then(function(e) {
                            var t = JSON.parse(e),
                                n = Number.isInteger(parseInt(t.star1)) ? t.star1 : 0,
                                s = Number.isInteger(parseInt(t.star2)) ? t.star2 : 0,
                                o = Number.isInteger(parseInt(t.star3)) ? t.star3 : 0,
                                i = Number.isInteger(parseInt(t.star4)) ? t.star4 : 0,
                                a = Number.isInteger(parseInt(t.star5)) ? t.star5 : 0,
                                r = Math.ceil((1 * n + 2 * s + 3 * o + 4 * i + 5 * a) / (n + s + o + i + a)),
                                l = Math.ceil(n + s + o + i + a),
                                d = "star" + r;
                            Number.isInteger(r) && (document.getElementById(d).checked = !0), document.getElementById("star1").dataset.votes = n, document.getElementById("star2").dataset.votes = s, document.getElementById("star3").dataset.votes = o, document.getElementById("star4").dataset.votes = i, document.getElementById("star5").dataset.votes = a, document.getElementById("count_votes_kontakt").innerHTML = l;
                            const u = '{"@context": "https://schema.org/","@type": "CreativeWorkSeries","name": "Kontakt - Agencja Wrocławska","aggregateRating": {"@type": "AggregateRating","ratingValue": "' + r + '","bestRating": "5","ratingCount": "' + l + '"}}',
                                c = document.createElement("script");
                            c.type = "application/ld+json", c.text = u, document.head.appendChild(c)
                        }).catch(e => console.log("error", e)), t = document.querySelectorAll(".rate input");
                        for (let e = 0; e < t.length; e++) t[e].addEventListener("click", function() {
                            var n, s, o, i, a, r, l, d, c = "star" + this.value,
                                t = parseInt(document.getElementById(c).dataset.votes),
                                t = Number.isInteger(t) ? t : 0;
                            document.getElementById(c).dataset.votes = t + 1, s = parseInt(document.getElementById("star1").dataset.votes), o = parseInt(document.getElementById("star2").dataset.votes), i = parseInt(document.getElementById("star3").dataset.votes), a = parseInt(document.getElementById("star4").dataset.votes), r = parseInt(document.getElementById("star5").dataset.votes), n = new Headers, n.append("Content-Type", "application/json"), n.append("cors", "no-cors"), l = JSON.stringify({
                                star1: Number.isInteger(s) ? s : 0,
                                star2: Number.isInteger(o) ? o : 0,
                                star3: Number.isInteger(i) ? i : 0,
                                star4: Number.isInteger(a) ? a : 0,
                                star5: Number.isInteger(r) ? r : 0
                            }), d = {
                                method: "POST",
                                headers: n,
                                body: l,
                                mode: "cors",
                                redirect: "follow"
                            }, fetch("https://getpantry.cloud/apiv1/pantry/74cfb19a-5d7b-4804-94fa-b7a3b370bb8f/basket/page-kontakt-new", d).then(e => e.text()).then(e => console.log(e)).catch(e => console.log("error", e))
                        })
                    })

                </script>
            </section>
        </section>
    </main><svg class="svg">
        <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox">
            <path d="M1 0S.734.31.0.148v.733s.353.254 1 .02V0" />
        </clipPath>
    </svg><svg class="svg">
        <clipPath id="my-clip-path2" clipPathUnits="objectBoundingBox">
            <path d="M1 .171S.95.13.857.177C.711.25.447.413.0.316v.721s.353.249 1 .019V.171" />
        </clipPath>
    </svg>

{{ function('get_footer', '') }}