{{ function('get_header', '') }}

<ol class="nav navbar-nav breadcrumbs" itemscope itemtype=http://schema.org/BreadcrumbList>
        <li itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><a href=/ itemprop=item><span itemprop=name>Agencja Wrocławska</span>
                <meta itemprop=position content="1">
            </a>></li>
        <li class=active itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><span itemprop=name>Pozycjonowanie Lokalne</span>
            <meta itemprop=position content="2">
        </li>
    </ol>
    <main id=content>
        <section class=sc-banner-center-noimg id=top-banner>
            <div class=center-banner-cnt><img data-src=/uploads/ban-pozycjonowanie-lokalne.svg class='lazyload banner-bg-img lmode'>
                <img data-src=/uploads/ban-pozycjonowanie-lokalne-dark.svg class='lazyload banner-bg-img dmode'>
                <div class='on-banner-content sec-padding'>
                    <h1 class='header-template banner-header'>
                        {{home_hero_title}}
                    </h1>
                    <ul class=no-img-banner-list>
                        <li>Indywidualne podejście do klienta i firmy</li>
                        <li>Proste i przejrzyste warunki współpracy</li>
                        <li>Konkurencyjna cena</li>
                        <li>Wysokie i stabilne pozycje w Mapach Google </li>
                    </ul><button data-modaltarget=modal1 class='open-modal-quote cta-button' href=#>Zamów bezpłatną wycenę</button>
                </div>
            </div>
        </section>
        <section class='sec-padding sc-txt-in-middle'>
            <div class=middl-text-cnt>
                <h2 class='header-template middle-txt-sec-header'>
                    Co to jest pozycjonowanie wizytówki Google? 
                </h2>
                <p>Pozycjonowanie lokalne w mapach Google to działania marketingowe skierowane na zwiększenie widoczności danej firmy lub usługi w wynikach wyszukiwania Google dla konkretnej lokalizacji geograficznej. Celem tego rodzaju pozycjonowania jest dotarcie do użytkowników szukających lokalnych usług lub produktów w pobliżu swojego miejsca zamieszkania lub pracy.</p>
            </div>
        </section>
        <section class='sec-padding sc-cols-w-no'>
            <h3 class='header-template cols-w-no-sec-header'><span class='f-w900 txt-underline txt-break txt-red txt-L'>TECHNIKA</span>
                <p class='header-template f-w700 txt-black txt-XL ornament-r-b cols-w-no-sec-header'>3B</p>
            </h3>
            <ul class=cols-w-no>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Budowanie przewagi nad konkurancją</div>
                    <div class=col-w-no-desc>Klient, który nie zna marki, ale potrzebuje znaleźć daną usługę lub produkt w internecie, przede wszystkim będzie kierował się pozycją w Google. Im wyżej znajdziemy się na danej frazie w wyszukiwarce, tym mamy większą szansę na zwiększenie ruchu organicznego na domenie. Na wielu frazach lokalnych konkurencja nie jest aż tak duża, jak w przypadku fraz ogólnopolskich, dzięki czemu w prosty sposób można wykreować przewagę nad konkurencją.</div><span class=no-bg>1</span>
                </li>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Budowanie bazy klientów</div>
                    <div class=col-w-no-desc>Więcej wejść na stronę = więcej potencjalnych klientów w portfolio. Bezwartościowy ruch budowany na frazach popularnych, ale nie mających nic wspólnego z typem naszej działalności nie dostarczy nam nowych kupujących. Warto postawić na frazy lokalne, które poza ruchem dostarczą nam również prawdziwych klientów. Bardzo ważne jest, żeby oprawa graficzna, jak i proste udoskonalenia strony zachęciły klienta do dokonania zakupu, a nie zniechęciły go do powrotu na stronę. W ten sposób można stopniowo budować bazę stałych klientów, którzy zapamiętają prosty interfejs i z chęcią do nas wrócą po kolejne produkty w przyszłości.</div><span class=no-bg>2</span>
                </li>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Budowanie wizerunku</div>
                    <div class=col-w-no-desc>W obecnych czasach musimy wyodrębnić dwa typy wizerunku marki. Jeden z nich to wizerunek internetowy, a drugi rzeczywisty. Wiele firm, które postawiły na rozwój w internecie wcześniej - obecnie stały się hegemonem na rynku lokalnym, mimo że w rzeczywistości są to małe firmy, niekiedy jednoosobowe działalności gospodarcze. Z drugiej strony mamy potężne wizerunkowo firmy, które zaniedbały dbanie o wizerunek internetowy i mają obecnie problem, żeby nawet przy ogromnych nakładach finansowych wywindować się w pozycjach wyszukiwania. Dlatego istotną kwestią jest elastyczność na nowe możliwosci, jakie daje nam internet w kontekście SEO.</div><span class=no-bg>3</span>
                </li>
            </ul>
        </section>
        <section class='sec-padding sc-questionmark sc-gray question-filled'>
            <h2 class='header-template qustionmark-header'><span class='f-w900 txt-underline txt-break txt-red txt-L'>Dlaczego pozycjonowanie lokalne</span>
                <span class='header-template f-w700 txt-black txt-XL ornament-r-b'>jest ważne dla marki?</span>
            </h2>
            <div class=questionmark-description>Na przestrzeni ostatnich miesięcy, kiedy ogromną liczbę firm w Polsce dotknął kryzys związany z lockdownami - Polacy zaczęli dużo więcej spraw załatwiać przez internet. Tyczy się to większości usług, jak i sprzedaży. Właściciele firm musieli postawić na nowe kanały promocji swoich produktów. Dla wielu krajan, którzy jeszcze kilkanaście miesięcy temu wszystko załatwiali z dala od internetu, zmieniły się standardy. Obecnie wszystko, czego potrzebuje klient, znajdzie w internecie, a wszystko rozpoczyna się od wyszukiwarki. To tam są wpisywane hasła i frazy, które akurat go interesują, a najwyższe pozycję są dodatkowo premiowane, ponieważ ludzie klikają głównie w wyniki na samej górze wyszukiwań. <strong>Pozycjonowanie lokalne</strong> pozwala na dotarcie do tych samych lub zupełnie innych grup docelowych przez to, że przy odpowiedniej pracy optymalizacyjnej i graficznej - konsumenci chętniej zdecydują się na wybór usługi i produktu na stronie marki. <strong>Pozycjonowanie regionalne</strong> jest nadwyraz skuteczne i opłacalne dla właścicieli biznesów, bo zwiększy liczbę odwiedzających i kupujących, ale również wiąże się z mniejszymi opłatami niż w przypadku pozycjonowania ogólnopolskiego.</div>
        </section>
        <section class='sec-padding sc-front-news'>
            <div class='header-template related-news-header'><span class='f-w900 txt-underline txt-break txt-red txt-L'>WIĘCEJ</span>
                <p class='header-template f-w700 txt-black txt-XL ornament-l-b related-news-header'>o pozycjonowaniu lokalnym</p>
            </div>
            <ul class=news-list>
                {% for p in posts %}
                <li>
                    <ul class=categories></ul>
                    <a href={{p.path}}>
                        <h3>{{p.post_title}}</h3>
                        <div class=art-summary>{{p.short_desc}}</div>
                    </a>
                    <div class=list-art-footer><span class=list-art-date>{{function('get_the_date', 'd.m.Y', p)}}</span>
                        <span class=list-art-authorname>| &nbsp; {{p.author.name}}</span>
                        <img class="lazyload art-author-img" data-src={{ p.author.meta('profil_picture') }}>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class=front-news-more-cnt><a class=front-news-more href=/blog />WIĘCEJ AKTUALNOŚCI</a></div>
        </section>
        <section class='sec-padding sc-cta'><a data-modaltarget=modal1 class='open-modal-quote cta-button' href=#>Zamów bezpłatną wycenę</a></section>
    </main><svg class="svg">
        <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox">
            <path d="M1 0S.734.31.0.148v.733s.353.254 1 .02V0" />
        </clipPath>
    </svg><svg class="svg">
        <clipPath id="my-clip-path2" clipPathUnits="objectBoundingBox">
            <path d="M1 .171S.95.13.857.177C.711.25.447.413.0.316v.721s.353.249 1 .019V.171" />
        </clipPath>
    </svg>
{{ function('get_footer', '') }}