{{ function('get_header', '') }}

<ol class="nav navbar-nav breadcrumbs" itemscope itemtype=http://schema.org/BreadcrumbList>
        <li itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><a href=/ itemprop=item><span itemprop=name>Agencja Wrocławska</span>
                <meta itemprop=position content="1">
            </a>></li>
        <li class=active itemprop=itemListElement itemscope itemtype=http://schema.org/ListItem><span itemprop=name>Pozycjonowanie Sklepów</span>
            <meta itemprop=position content="2">
        </li>
    </ol>
    <main id=content>
        <section class=sc-banner-center-noimg id=top-banner>
            <div class=center-banner-cnt><img data-src=/uploads/pozycjonowanie-sklepow-regular.svg class='lazyload banner-bg-img lmode'>
                <img data-src=/uploads/pozycjonowanie-sklepow-dark-1.svg class='lazyload banner-bg-img dmode'>
                <div class='on-banner-content sec-padding'>
                    <h1 class='header-template banner-header'><span class='f-w700 txt-underline txt-break txt-red txt-XL'>Pozycjonowanie sklepów</span>
                        <span class='header-template f-w700 txt-black txt-XL'>Co zyskasz dzięki SEO dla e-Commerce?</span>
                    </h1>
                    <ul class=no-img-banner-list>
                        <li>Znacznie szybsze budowanie marki w internecie</li>
                        <li>Możliwość sprzedaży swoich produktów na cały świat</li>
                        <li>Zwiększenie sprzedaży i ruchu organicznego na stronie</li>
                        <li>Zbudowanie popularności swojego sklepu internetowego</li>
                    </ul><button data-modaltarget=modal1 class='open-modal-quote cta-button' href=#>Zamów bezpłatną wycenę</button>
                </div>
            </div>
        </section>
        <section class='sec-padding sc-txt-in-middle'>
            <div class=middl-text-cnt>
                <h2 class='header-template middle-txt-sec-header'><span class='f-w900 txt-underline txt-break txt-red txt-L'>POZYCJONOWANIE SKLEPU</span>
                    <div class='header-template f-w700 txt-black txt-XL ornament-r-b middle-txt-sec-header'>Zakres prac SEO</div>
                </h2>
                <p>Nasza agencja SEO zajmuje się pozycjonowaniem sklepów internetowych. Od małych lokalnych sklepów po duże platformy e-Commerce.<br><br>Zakres prac rozpoczyna się od pełnej optymalizacji struktury sklepu. Wszelkiego rodzaju meta tagi, nagłówki, grafika, linkowanie wewnętrzne, przekierowania, stronicowanie, błędy 404, key research itp. Konkretny zakres prac seo jest określany przed zawarciem współpracy z klientem.<br><br>Przy pozycjonowaniu sklepów internetowych bieżąca optymalizacja seo to bardzo ważny aspekt, poprzez co stale zajmujemy się tym elementem przez cały czas trwania współpracy. Po początkowej optymalizacji rozpoczynamy przygotowywać strategię na budowanie profilu linkowego domeny, tworzyć content i analizować efekty przyjętej strategii seo.</p>
            </div>
        </section>
        <section class='sec-padding sc-cols-w-no'>
            <h3 class='header-template cols-w-no-sec-header'><span class='f-w900 txt-underline txt-break txt-red txt-L'>EFEKTY SEO</span>
                <div class='header-template f-w700 txt-black txt-XL ornament-r-b cols-w-no-sec-header'>3W</div>
            </h3>
            <ul class=cols-w-no>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Widoczność online</div>
                    <div class=col-w-no-desc>Twój sklep zaczyna być widoczny w miejscach, gdzie Twoi klienci szukają. Zaczynasz widzieć prawdziwe efekty pozycjonowania, bo sklep zaczyna się pojawiać na popularnie wpisywane słowa kluczowe, co znacząco buduje rozpoznawalność Twojej marki.</div><span class=no-bg>1</span>
                </li>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Więcej klientów</div>
                    <div class=col-w-no-desc>Przy realizacji strategii seo zaczynamy pozyskiwać jakościowy ruch, który jest kierowany w poszczególne miejsca Twojego sklepu. Jeśli ilość wyszukiwań w ciągu miesiąca wzrośnie o 50%, to oznaczać może znaczący wzrost ilości zainteresowania Twoją marką i przynieść Ci wielu nowych klientów.</div><span class=no-bg>2</span>
                </li>
                <li class=col-w-no>
                    <div class="col-w-no-header txt-L">Wzrost sprzedaży</div>
                    <div class=col-w-no-desc>Przygotowując strategię SEO na sklep internetowy analizujemy, na które słowa kluczowe warto będzie się pozycjonować. W momencie kiedy Google zacznie indeksować wprowadzane przez nas cykliczne zmiany, będzie przekładać się to cykliczny wzrost wyświetleń Twojej strony i realizacji zakupów.</div><span class=no-bg>3</span>
                </li>
            </ul>
        </section>
        <section class='sec-padding sc-questionmark sc-gray question-filled'>
            <h2 class='header-template qustionmark-header'><span class='f-w900 txt-underline txt-break txt-red txt-L'>POZYCJONOWANIE E-COMMERCE</span>
                <div class='header-template f-w700 txt-black txt-XL ornament-r-b qustionmark-header'>czy jest ważne dla marki?</div>
            </h2>
            <div class=questionmark-description>Jak wykazują badania, z roku na rok sprzedaż w internecie wzrasta o ok. 40%. Pojawiają się coraz to nowsze marki, oferujące różnego rodzaju produkty. Jest coraz więcej dystrybutorów online, poprzez co rozrasta się sieć sklepów e-Commerce. Co ważne, nie zginą tylko Ci, którzy zadbają o naprawdę mocne pozycjonowanie. Samo pozycjonowanie to obecnie nie wszystko. Aby utrzymać swoje pozycje, marki muszą znacząco ułatwiać funkcjonalności sklepów dla swoich klientów. Coraz to szybsze płatności, konfiguratory, oraz co ważne - prosty User Experience. Nadchodzą czasy, w których to doświadczenia użytkownika z korzystania, łatwość posługiwania się interfejsem będą grały pierwsze skrzypce. Na tej samej pozycji pozostaje w dalszym ciągu prawidłowa optymalizacja i seo.</div>
        </section>
        <section class='sec-padding sc-logos'>
            <h3 class='header-template tutorial-sec-header'><span class='f-w700 txt-underline txt-break txt-red txt-L'>UŻYWAMY NARZĘDZI NAJLEPIEJ DOPASOWANYCH</span>
                <div class='header-template f-w700 txt-black txt-XL ornament-r-b tutorial-sec-header'>do potrzeb wymagających marek</div>
            </h3>
            <ul class=tools-logos>
                <li><img class="lazyload col-logos" data-src=/uploads/ahrefs-web.png></li>
                <li><img class="lazyload col-logos" data-src=/uploads/lrt-web.png></li>
                <li><img class="lazyload col-logos" data-src=/uploads/senuto-web.png></li>
                <li><img class="lazyload col-logos" data-src=/uploads/gtm-web.png></li>
                <li><img class="lazyload col-logos" data-src=/uploads/gsc-web.png></li>
                <li><img class="lazyload col-logos" data-src=/uploads/screamingfrog-web.png></li>
            </ul>
        </section>
        <section class='sec-padding sc-cta sc-cta-bg'>
            <div class='sc-cta-header txt-L'>CHCESZ POPRAWIĆ SWOJĄ POZYCJĘ W SIECI?</div><a data-modaltarget=modal1 class='open-modal-quote cta-button' href=#>Zamów bezpłatna wycenę</a>
        </section>
        <section class='sec-padding sc-text-points-img a9fa4a297a8df231967cbb9fb1b5e890b'>
            <div class='two-col-row cnt-visibility'>
                <h2 class=header-template><span class='f-w900 txt-underline txt-break txt-red txt-L'>Pozycjonowanie sklepu internetowego</span>
                    <div class='header-template f-w700 txt-black txt-XL ornament-r-b'>oferta e-commerce</div>
                </h2>
                <div class=second-col>
                    <div class=obrazek-outer-wrapper>
                        <div class=obrazek-wrapper><img data-src=/uploads/group-217.svg class='lazyload lmode'>
                            <img data-src=/uploads/seo3.svg class='lazyload dmode'>
                        </div>
                    </div>
                </div>
                <div class=first-col>
                    <div class='txt-L slogan'><strong>Co zyskuje marka dzięki pozycjonowaniu e-commerce?</strong></div>
                    <ul class=red-point-list>
                        <li>Budowanie świadomości i popularności marki</li>
                        <li>Widoczność na pożądane słowa kluczowe wyszukiwane przez klientów</li>
                        <li>Odpowiednie zoptymalizowane strony produktowe</li>
                        <li>Odpowiednie zoptymalizowane strony produktowe</li>
                        <li>Zwiększenie sprzedaży produktów</li>
                        <li>Możliwość na szybki rozwój marki w internecie</li>
                    </ul>
                </div>
                <div class=second-col>
                    <div class=obrazek-outer-wrapper>
                        <div class=obrazek-wrapper></div>
                    </div>
                </div>
            </div>
        </section>
        <section class=sc-two-cols-desc-points>
            <div class='two-col-row cnt-visibility'>
                <div class='sec-padding sec-padding-left first-col tlo-biale'>
                    <div class=header-template><span class='f-w700 txt-underline txt-break txt-red txt-L'>OBSŁUGA</span>
                        <span class='header-template f-w700 txt-black txt-XL'>5 w 1</span>
                    </div>
                    <div class=opis>W ramach obsługi pozycjonowania sklepu, każdy z naszych klientów ma możliwość dodatkowego wsparcia naszego zespołu tj. pozycjonera (technicznego), pozycjonera (linkbuilding), web dewelopera, grafika, copywritera czy marketingowca. Dzięki takim zasobom jesteśmy w stanie kompleksowo doradzić w kwestii marketingu internetowego.</div>
                </div>
                <div class='sec-padding sec-padding-right second-col tlo-czerwone'>
                    <div class=header-template><span class='f-w700 txt-underline txt-break txt-white txt-L'>OTRZYMUJESZ</span>
                        <span class='header-template f-w700 txt-white txt-XL'>gwarancję efektów</span>
                    </div>
                    <ul class=red-point-list>
                        <li>PIK co 6 miesięcy</li>
                        <li>Umowa na czas nieokreślony</li>
                        <li>Założone efekty, albo zwrot pieniędzy</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class='sec-padding sc-cols-w-img'>
            <div class='header-template cols-w-no-sec-header'><span class='f-w900 txt-underline txt-break txt-red txt-L'>EFEKTY</span>
                <span class='header-template f-w700 txt-black txt-XL ornament-r-b'>naszej pracy</span>
            </div>
            <ul class=cols-w-img>
                <li class=col-w-img><img data-src=/uploads/144procent.svg class='lazyload lmode'>
                    <img data-src=/uploads/144procent-dark.svg class='lazyload dmode'>
                    <div class="col-header txt-L">Zwiększenie o 144% ilości słów kluczowych w TOP 10</div>
                    <div class=col-desc>Naszym celem było zająć się pozycjonowaniem sklepu w bardzo konkurencyjnej branży - z odzieżą damską. Po 6-ciu miesiącach uzyskaliśmy znaczący efekt zwiększenia widoczności słów kluczowych pojawiających się na pierwszej stronie wyników wyszukiwań. Sklep klienta znacząco zyskał na tym procesie optymalizacji i linkbuildingu w zakresie zwiększenia sprzedaży.</div>
                </li>
                <li class=col-w-img><img data-src=/uploads/bezpeczna-migracja.svg class='lazyload lmode'>
                    <img data-src=/uploads/bezpieczna-migracja-dark.svg class='lazyload dmode'>
                    <div class="col-header txt-L">Bezpieczna migracja sklepu na nowy</div>
                    <div class=col-desc>W przypadku rozbudowanych sklepów internetowych znacząco zadaniem jest wykonanie odpowiedniej migracji starego sklepu do nowego - nie tracąc ruchu organicznego. To normalne, że marki ewoluują i czasami zmieniają swoje sklepy rewolucyjnie. Przeprowadziliśmy migrację sklepu klienta w bezpieczny sposób, nie tracąc wyników SEO.</div>
                </li>
                <li class=col-w-img><img data-src=/uploads/10razy.svg class='lazyload lmode'>
                    <img data-src=/uploads/1razy-dark.svg class='lazyload dmode'>
                    <div class="col-header txt-L">10x więcej zapytań ofertowych</div>
                    <div class=col-desc>Prowadzimy klienta z branży reklamowo&artystycznej, gdzie w większości zlecenia pozyskuje się w dwojaki sposób - polecenia albo zapytania z Google. Poprzez optymalizację strony, stałe tworzenie contentu oraz budowanie profilu linkowego domeny zwiększyliśmy 10 krotnie ilość zapytań ofertowych. Przed rozpoczęciem prac było ok. 1 zapytanie miesięcznie, obecnie wpływa ich około 10-ciu. Czas trwania współpracy to 8 miesięcy.</div>
                </li>
            </ul>
        </section>
        <section class='sec-padding sc-front-news'>
            <div class='header-template related-news-header'><span class='f-w900 txt-underline txt-break txt-red txt-L'>WIĘCEJ</span>
                <span class='header-template f-w700 txt-black txt-XL ornament-l-b'>o pozycjonowaniu e-commerce…</span>
            </div>
            <ul class=news-list>
                {% for p in posts %}
                <li>
                    <ul class=categories></ul>
                    <a href={{p.path}}>
                        <h3>{{p.post_title}}</h3>
                        <div class=art-summary>{{p.short_desc}}</div>
                    </a>
                    <div class=list-art-footer><span class=list-art-date>{{function('get_the_date', 'd.m.Y', p)}}</span>
                        <span class=list-art-authorname>| &nbsp; {{p.author.name}}</span>
                        <img class="lazyload art-author-img" data-src={{ p.author.meta('profil_picture') }}>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class=front-news-more-cnt><a class=front-news-more href=/blog />WIĘCEJ AKTUALNOŚCI</a></div>
        </section>
        <section class='sec-padding sc-text-points-img a1a6bc0a8787a1e3f5f9b994b929bb2fd'>
            <div class='two-col-row cnt-visibility'>
                <div class=header-template><span class='f-w900 txt-underline txt-break txt-red txt-L'>DLACZEGO WARTO</span>
                    <span class='header-template f-w700 txt-black txt-XL ornament-r-b'>wybrać pozycjonowanie sklepu z AW?</span>
                </div>
                <div class=second-col>
                    <div class=obrazek-outer-wrapper>
                        <div class=obrazek-wrapper><img data-src=/uploads/group-217.svg class='lazyload lmode'>
                            <img data-src=/uploads/seo3.svg class='lazyload dmode'>
                        </div>
                    </div>
                </div>
                <div class=first-col>
                    <div class='txt-L slogan'><strong>Jesteśmy wrocławskim zespołem, który w pełni zaangażuje się w pracę nad <span class=txt-red>Twoim</span> serwisem. Twoje efekty są również miarą naszego sukcesu.</strong></div>
                    <ul class=red-point-list>
                        <li>Jesteśmy Partnerem Google.</li>
                        <li>Dekowany zespoł specjalistów SEO on-site i off-site całościowo zajmie się Twoim sklepem</li>
                        <li>Wspólnie ustalamy Twoje cele marketingowe i przygotujemy konkretne założenia</li>
                        <li>Łączymy wiedzę z zakresu SEO, Web Developmentu, User Experience oraz Content Marketing</li>
                        <li>Nie robimy wszystkiego dla wszystkich, realizujemy swoją ideę</li>
                    </ul>
                </div>
                <div class=second-col>
                    <div class=obrazek-outer-wrapper>
                        <div class=obrazek-wrapper></div>
                    </div>
                </div>
            </div>
        </section>
        <section class='sec-padding sc-cta'><a data-modaltarget=modal1 class='open-modal-quote cta-button' href=#>Zamów bezpłatną wycenę</a></section>
    </main><svg class="svg">
        <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox">
            <path d="M1 0S.734.31.0.148v.733s.353.254 1 .02V0" />
        </clipPath>
    </svg><svg class="svg">
        <clipPath id="my-clip-path2" clipPathUnits="objectBoundingBox">
            <path d="M1 .171S.95.13.857.177C.711.25.447.413.0.316v.721s.353.249 1 .019V.171" />
        </clipPath>
    </svg>
<!-- /wp:html --></div>
<!-- /wp:column -->
{{ function('get_footer', '') }}